.section-slider {	
	@media screen and (max-width: 767px) {
		padding-top: 100px;		
	}

	z-index: 0;
	padding-top: 220px;
	background-color: $bg;
	padding-bottom: 90px;
	position: relative;
	color: $white;
		&:after {
			content: "";
			position: absolute;
			top: 100%;
			left: 50%;
			transform: translateX(-50%);
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 20px 20px 0 20px;
			border-color: $bg transparent transparent transparent;
		}
}


.slide-heading {
	text-align: center;
	padding-bottom: 48px;	
	border-bottom: 1px solid $btn-border;
	margin-bottom: 20px;

	

	h1 {
		font-family: Gothem-black;	
		font-size: #{112/$fz}em;

		@media screen and (max-width: 1024px) {
			font-size: 6em;
		}

		@media screen and (max-width: 767px) {
			font-size: 3em;
		}
	}

	span {
		color: $slide-h; 
		font-size: 1em;
	}

}

.sub-title {

	@media screen and (max-width: 1024px) {
			font-size: 2em;
		}

		@media screen and (max-width: 768px) {
			font-size: 1.5em;
		}

	font-family: Gothem-black;
	font-size: #{33/$fz}em;
	color: $white;	
}

.slide-content {

	@media screen and (max-width: 1024px) {
			font-size: 1.5em;
		}

		@media screen and (max-width: 768px) {
			font-size: 1.5em;
		}

	padding-top: 35px;
	font-size: #{28/$fz}em;
	font-family: Gotmen-Thin;
}

.slick-slide {
	text-align: center;	
	padding: 50px 0;
}

.slick-dots {
	bottom: 10px;
		& li {
			position: relative;
			display: inline-block;
			/*width: 10px;*/
			height: 10px;
			margin: 0;
			padding: 0 5px;
			cursor: pointer;
			& button {
				display: inline-block;
				vertical-align: top;
				width: 10px;
				height: 10px;
				border-radius: 100%;
				background-color: $white;
				transition: background-color 0.3s ease-in-out;
					&:hover {
						background-color: $dots;
					}
					&:before {
					content: none;
					}
			}	
		}
		& .slick-active {
			& button {
			position: relative;
			background-color: $dots;
			width: 12px;
			height: 12px;
				&:after {
					content: "";
					border-radius: 100%;
					display: block;
					width: 15px;
					height: 15px;
					border: 2px solid  $dots;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			} 
		}

}

.btn-default {
	&:hover {
		background-color: $ltblue;
	}
}

.btn-group {	
	display: flex;
	justify-content: center;
	align-items: center;
		& .btn {
			margin: 0 5px 10px 0;
				&:last-child {
					margin-right: 0;
				}
		}
}