$black: #000;
$white: #fff;
$yellow: #f7df59;
$bg: #6d5384;
$btn-shadow: #4c2f65;
$btn-border: #9884aa;
$col-h2: #654d7b;
$pic-h: #6b5181;
$gray: #ADADAD;
$dots: #443255;
$ltblue: #69c7e2;
$slide-h: #ead7fb;
$fz: 13;